.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
