input.input-error,
select.input-error {
  border-color: red;
}
.error {
  color: red;
  font-size: 10px;
}

.form {
  margin-left: 25%;
  display: grid;
  grid-template-rows: 1;
  width: 50%;
  height: 100%;
  margin-top: 50px;
}
.form input {
  background-color: white;
}

.form button {
  border-radius: 50px;
  font-size: 20px;
  height: 50px;
  background: #de6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffb88c,
    #de6262
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffb88c,
    #de6262
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: white;
}

.form button:hover {
  cursor: pointer;
}
