.navbar {
  height: 15vh;
  width: 100vw;
  background: #de6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffb88c,
    #de6262
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffb88c,
    #de6262
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  height: 100px;
  padding: 10px;
}

.navbar span {
  color: white;
}

.links {
  font-size: large;
  width: 22%;
  display: flex;
  justify-content: space-around;
}

.activeStyles {
  padding: 10px;
  text-decoration: none;
  background-color: rgb(255, 178, 83);
  border-radius: 15px;
  color: #000000;
}

.classicStyles {
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
  color: #000000;
}

.cartLength {
  position: absolute;
  top: 32px;
  left: 92.5vw;
  background-color: yellow;
  width: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
