.footer {
  height: 15vh;
  width: 100vw;
  background: #de6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffb88c,
    #de6262
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffb88c,
    #de6262
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secondSection {
  width: 150px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.first input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 60px;
  font-size: 12px;
}

.first button {
  background-color: black;
  color: white;
  font-size: 15px;
  margin-left: 15px;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 60px;
}

.first button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}
