.dugme {
  border-radius: 60px;
  border: none;
  background: #de6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffb88c,
    #de6262
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffb88c, #de6262);
  color: white;
  font-weight: 900;
}

.main button:hover {
  cursor: pointer;
  background: #de6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffb88c,
    #de6262,
    transition,
    1s
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ffb88c, #de6262);
}
